@import "./../../styles/variables.scss"; 

.sidebar {
    height: 100vh;
    // background: var(--card);
    border: 1px solid var(--border);
    padding: 42px 24px;
    list-style: none;
    text-align: justify;
    transform: translateX(0);
    transition: transform 0.3s ease;
    a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    li {
        padding: 10px 0;
    }
    p {
        margin-bottom: 20px;
    }
    .showIcon {
        display: none;
    }
}

  @media (max-width: $tablet) {
    .sidebar {
        position:absolute;
        transform: translateX(-128px);
        transition: transform 0.3s ease;
        .showIcon {
        display: block;
    }
    }
    .show-menu {
        position: absolute;
        z-index: 100;
        background-color: var(--bg);
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
    
  
}