// @use "./../../styles/variables.scss";

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 32px;
    .hamberger-menu {
        display: none;
    }
    .show {
       transform: translateX(0px);
       transition: transform 0.3s ease;
    }
    .not-show {
        transform: translateX(-330%);
        transition: transform 0.3s ease;
    }
    .searchInput {
        width: 50%;
        height: 51px;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: 51px;
        .card {
            padding: 12px;
        }
        button {
            background: var(--card);
            border: none;
            color: var(--text)
        }
    }
}
 @media (max-width: 1023px) {
   .topbar {
      padding: 0;
     .hamberger-menu {
       display: flex;
        flex-direction: row-reverse;
    }
    .searchInput {
        display: none;
    }
   }
  
}