:root {
  /* Background */
  --bg: #f8fafc;
  --surface: #ffffff;

  /* Text */
  --text: #111827;
  --text-secondary: #6b7280;

  /* Brand */
  --primary: #5b5ceb;

  /* Border */
  --border: #e2e8f0;

  // Card
  --card: #ffffff;
}

[data-theme="dark"] {
  /* Background */
  --bg: #09090b;
  --surface: #111827;

  /* Text */
  --text: #fafafa;
  --text-secondary: #a1a1aa;

  /* Brand */
  --primary: #7c7cff;

  /* Border */
  --border: #27272a;

  // Card
  --card: #181818;
}